* {
  box-sizing: border-box;
}

html {
  background-color: #333;
  background: linear-gradient(to bottom, #1f1c2c, #928dab);
  min-height: 100vh;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #f4f4f4;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  /* background-color: #006767; */
  text-align: center;
}

.item {
  position: relative;
  min-height: 70px;
  display: flex;
  padding: 0 50px 0 5px;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #F1F1F1; */
  border-bottom: 1px solid #ccc;
}

/* .item:last-child {
  border-bottom: 0;
} */

.newItem{
  min-height: 70px;
  display: flex;
  padding: 0 50px 0 30px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}


.delete{
display: flex;
}

.delete input[type = "checkbox"]{
  margin: auto 5px;
}

.newItem button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding: 3px 6px 1px 7px;
  border-width: 0;
  transition: opacity 0.3s ease;
}

.newItem button:hover{
  opacity: 0.8;
}

.newItem button:focus{
  outline: none;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.form-padding{
  padding: 0 15px 0 0;
}


/* round custom checkbox */
.round {
  position: relative; 
  min-height: 30px;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  display: none;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
  /* background-color: #009a9a;
  border-color: #009a9a;*/
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}



.del-btn{
  background-color: #e74c3c;
  border: 0;
  line-height: 22px;
  padding: 4px 7px;
  font-size:22px ;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.del-btn:hover{
  cursor: pointer;
}

.del-btn:focus, .del-btn:active{
  outline: none;
}

.item:hover .del-btn{
  opacity: 1;
}